function Main.main 1
push constant 8000
pop local 0
push constant 11
push local 0
add
push constant 123
push constant 345
neg
call Math.max 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
